/* header */

#header img {
    padding-top: 10px;
    width: 200px;
    height: 200px;
    margin-bottom: 5vh;    
}

/*rules*/

#rules {
    margin: 0 auto;
    max-width: 80%;
    border: 5px solid black;
    border-radius: 15px;
    background-color: rgba(230, 230, 230, .7);
    text-align: center;
    margin-bottom: 5vh;
}

#rules h1,p {
    color: black;
    font-weight: bold;
    padding: 0px 10px;
}

/*lives counter*/

#lives-counter {
    text-align: center;
    height: 10vh; 
    margin-bottom: 25px;   
}

#lives-counter img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 5px;
}

/*quiz*/

.container {
    text-align: center;
}

/*question crest*/

.container img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: block;
}

.index-page {
    height: 100vh;
    width: 100vw;
}

.container {
    width: 800px;
    max-width: 70%;
    margin: auto;
    text-align: center;
}

/*answers*/

.btn-grid {
    display: grid;
    gap: 10px;
    margin: 20px 0px;
}

:root {
    --hue-neutral: 200;
    --hue-incorrect: 10;
    --hue-correct: 125;
    
}

.btn {
    --hue: var(--hue-neutral);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
}

.btn.correct {
    --hue: var(--hue-correct);
}

.btn.incorrect {
    --hue: var(--hue-incorrect);
}

/*start & next buttons*/

#action-btns {
    margin: 0 auto;
    margin-bottom: 5vh;
}

.start-btn, .next-btn {
    font-size: 15px;
    font-weight: bold;
    padding: 5px 10px;
}

/*score-counter*/

#score-count {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 5vh;
    width: 100px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: rgba(230, 230, 230, .7); 
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
}

/* Results */

#results {
    margin: 0 auto;
    max-width: 80%;
    border: 5px solid black;
    border-radius: 15px;
    background-color: rgba(230, 230, 230, .7);
    text-align: center;
    margin-bottom: 10vh;
}

#results h1,p {
    color: black;
    font-weight: bold;
    padding: 0px 10px;
}

/* Level up message */

#level-up {
    margin: 30vh auto;
    max-width: 80%;
    border: 5px solid black;
    border-radius: 15px;
    background-color: rgba(230, 230, 230, .7);
    text-align: center;
    font-size: large;
}

#level-up p {
    color: black;
    font-weight: bold;
    padding: 0px 10px;
    line-height: 2;
}

.hide {
    display: none !important;
}

.disable {
    pointer-events: none;
}


/* background image */

#background-image {
  background-image: url("https://www.arsenal.com/sites/default/files/styles/large_16x9/public/images/emirates_11.jpg?itok=xMYQFoDi");
  background-size: auto 100%;
  -webkit-animation: backgroundscroll 50s linear infinite alternate;
  animation: backgroundscroll 60s linear infinite alternate;
}

@-webkit-keyframes backgroundscroll {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  }
}

@keyframes backgroundscroll {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  }
}


/* Media queries */

@media screen and (max-width: 1024px) and (min-width: 768px) {
  #header img {
    padding-top: 20px;
    width: 400px;
    height: 200px;
    margin-bottom: 10vh;    
}

#rules {
    margin: 0 auto;
    max-width: 80%;
    border: 5px solid black;
    border-radius: 15px;
    background-color: rgba(230, 230, 230, .7);
    text-align: center;
    margin-bottom: 10vh;
}

#rules p {
    font-size: 25px;
    line-height: 2;
    color: black;
    font-weight: bold;
    padding: 0px 10px;
}

.start-btn, .next-btn {
    font-weight: bold;
}

#lives-counter { 
    margin-bottom: 50px;   
}

#lives-counter img {
    width: 75px;
    height: 75px;
    padding: 10px;
}

.container img {
    width: 350px;
    height: 350px;
}

.btn-grid {
    gap: 20px;
    margin: 20px 0px;
}

.btn {
    font-size: 20px;
    border-radius: 10px;
    padding: 15px 20px;
}

#score-count {
    bottom: 5vh;
    width: 200px;
    border: 5px solid black;
    border-radius: 10px;
    font-size: 25px;
    padding: 10px 0px;
}

}

@media screen and (min-width: 1024px) {

#score-count {
    left: 5vw;
    bottom: 90vh;
 }
}