/*Index page*/

.bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
}

/* header */

.header {
    padding-top: 5vh;
    position: relative;
    display: table;
    margin: 0 auto;
    z-index: 1;
    margin-bottom: 10vh;
}

.header img {
    width: 300px;
    height: 150px;
    border-radius: 50px;
}

/*rules*/

#rules {
    position: relative;
    display: table;
    margin: 0 auto;
    z-index: 1;
    max-width: 400px;
    border: 5px solid black;
    border-radius: 15px;
    background-color: rgba(230, 230, 230, .7);
    text-align: center;
    margin-bottom: 10vh;
}

#rules h1,p {
    color: black;
    font-weight: bold;
}

/*play button*/

.play-button {
    position: relative;
    display: table;
    margin: 0 auto;
    z-index: 1;
    width:150px;
    height:60px;
    border-radius: 5px;
    font-size:50px;
    font-weight:bold;
    background-color: #0038f4;
    text-align: center;
}

.play-button a {
    text-decoration: none;
    color: #aefff4;
}

/*Quiz page*/

.lives {
    padding-top: 2vh;
    position: relative;
    display: table;
    margin: 0 auto;
    z-index: 1;
    margin-bottom: 3vh;
}

.lives img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 5px;
}

.crest {
    position: relative;
    display: table;
    margin: 0 auto;
    z-index: 1;
    margin-bottom: 10vh;    
}

.crest img {
    width: 200px;
    height: 200px;
}

/*Media queries*/

@media only screen and (min-width: 768px) {
  
.header img {
    width: 500px;
    height: 250px;
}

#rules {
    min-width: 600px;
    font-size: x-large;
}
}
